<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark px-3">
    <a href="#" class="navbar-brand">Employee Portal</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="employees" class="nav-link">Employees</a>
      </li>
      <li class="nav-item">
        <a
          routerLink="create"
          [routerLink]="['employees', 'create']"
          class="nav-link"
          >Create</a
        >
      </li>
    </div>
  </nav>
</div>

<div class="container mt-5">
  <router-outlet></router-outlet>
</div>
